:root {
    --primary-color: #191818;
    --primary-color-light: #232222;

    --text-color: #dbdbdb;

    --green-color-light: #51f002;
    --green-color-lightest: #93fe55;
    --green-color: #40b805;
    --green-color-dark: #2f8d00;
    --green-color-darkest: #236900;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: monospace;
    font-size: 16px;
    margin: 0;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 56px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--primary-color-light);
    padding: 1em 0;
    z-index: 1000;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    max-width: 1840px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}

.nav-left {
    justify-content: flex-start;
    align-items: left;
}

.nav-right {
    justify-content: flex-end;
    align-items: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s;
}

nav ul li.active a {
    color: var(--green-color-light);
    text-decoration: underline;
}

nav ul li a:hover {
    color: var(--green-color);
}

img.logo {
    height: 16px;
    width: auto;
}

.hero {
    padding: 0em;
    text-align: center;
}

.center {
    padding: 0em;
    text-align: center;
}

.green-on-hover {
    color: var(--text-color);
    transition: color 0.2s;
}

.green-on-hover:hover {
    color: var(--green-color);
    transition: color 0.2s;
}

.no-decoration {
    text-decoration: none;
}

.hyperlink {
    color: var(--green-color);
    text-decoration: none;
    transition: color 0.2s;
}

.hyperlink:hover {
    color: var(--green-color-light);
}

.w-800 {
    max-width: 800px;
    margin: 0 auto;
}

.w-1600 {
    max-width: 1600px;
    margin: 0 auto;
}

.code-editor {
    background-color: var(--primary-color-light);
    color: var(--text-color);
    padding: 1em;
    border-radius: 8px;
    resize: none;
    overflow: auto;
    white-space: pre;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-1 { flex: 1 1 0%; }
.flex-2 { flex: 2 1 0%; }
.flex-3 { flex: 3 1 0%; }

.justify-start   { justify-content: flex-start; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-end     { justify-content: flex-end; }

.items-start   { align-items: flex-start; }
.items-center  { align-items: center; }
.items-end     { align-items: flex-end; }

.no-break {
    white-space: nowrap;
}

.animated-green-gradient-text {
    background: linear-gradient(270deg, var(--green-color), var(--green-color-light), var(--green-color-dark));
    background-size: 600% 600%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveGradient 3s ease infinite;
}

@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.documentation-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 1em;
}

.documentation-box-title {
    font-size: 1.2em;
    color: var(--text-color);
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

.documentation-box {
    background-color: var(--primary-color-light);
    color: var(--text-color);
    padding: 1em;
    border-radius: 32px;
    margin-bottom: 0em;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 var(--green-color-darkest);
}

.documentation-box:hover {
    box-shadow: 0 0 20px var(--green-color-darkest);
    transition: box-shadow 0.2s ease-in-out;
}

.documentation-box-content-scrollable {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 1em;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--green-color) var(--primary-color-light);
}

*::-webkit-scrollbar {
    width: 8px;
    background: var(--primary-color-light);
}

*::-webkit-scrollbar-thumb {
    background: var(--green-color);
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--green-color-light);
}

.bnf-operator { color: var(--green-color); }
.bnf-nonterminal { color: var(--green-color-light); font-style: italic; }
.bnf-keyword { color: var(--green-color-lightest);  }
